body{
    background-image: url(img/cerejeira.png);
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1{
   color: palevioletred ;
   text-align: center;
   font-size: 33px;
   font-weight: bold;
}

.jogo td{
    columns: 60px;
    align-items: center;
    cursor: pointer;
}

img{
    width: 90px;
}
   