body{
    background-image: url(img/cerejeira.png);
}

h1{
   color: palevioletred ;
   margin-left: 44%;
   font-size: 33px;
   font-weight: bold;
}

.jogo{
    border-collapse: collapse;
    margin: 3px;
    padding: 2px;
    border-radius: 10px;
}

.jogo td{
    columns: 90px;
    align-items: center;
    cursor: pointer;
}

img{
    width: 80px;
}